  build:
    needs: release
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install nuitka

      - name: Build
        run: python -m nuitka --onefile --output-dir dist nano_whale/main.py

      - name: Upload Release Binaries
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
          name: nano_whale-${{ runner.os }}
        env:
          GITHUB_TOKEN: ${{ secrets.REPO_TOKEN }}
